


/* Main styles */
body {
    margin: 0;
    padding: 0;
    background-image: url('backgroundimage2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
    color: #333;
}

/* Button styling */
button {
    background-color: #3498db;
    font-family: 'Nunito', sans-serif;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Page Title */
h1 {
    text-align: center;
    color: #3498db;
    font-size: 2em;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: fit-content;
}

/* Label and Select styling */
label {
    font-weight: bold;
    color: #3498db;
    margin-left: 10px;
}

select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 5px;
    width: auto;
}

/* Medical History section */
#medicalHistory {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* Medical History Title */
#medicalHistory h2 {
    text-align: center;
    color: #3498db;
    font-size: 1.9em;
    margin-top: 0px;
    margin-bottom: 10px;
}

/* Table styling */
#historyTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

#historyTable th, #historyTable td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
}

#historyTable th {
    background-color: #3498db;
    color: white;
    font-weight: bold;
}

#historyTable td {
    background-color: rgba(255, 255, 255, 0.9);
}

/* Table Rows hover effect */
#historyTable tr:hover {
    background-color: #f1f1f1;
}



/* Label styling with white overlay */
label {
    font-weight: bold;
    color: #3498db;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
