


/* Main styles */
body {
    margin: 0;
    padding: 0;
    background-image: url('../Images/backgroundimage2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
}

button {
    background-color: #3498db;
    color: white;
    font-family: 'Nunito', sans-serif;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Form container */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;    
    box-sizing: border-box;
}

/* Edit Patient and Delete Patient Form Titles */
.form-title, .form-title-small {
    background-color: white;
    padding: 5px 15px;
    border-radius: 5px;
    color: #3498db;
    margin-bottom: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-title {
    font-size: 1.5em;
}

.form-title-small {
    font-size: 1.2em; /* Smaller font for the Delete Patient title */
}

/* Form styling */
#patientForm, #deletePatientForm {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Input fields */
#patientForm input, #patientForm select, #deletePatientForm input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

/* Button styling */
#patientForm button, #deletePatientForm button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s;
}

#patientForm button:hover, #deletePatientForm button:hover {
    background-color: #2980b9;
}

#logout{
    margin-left: 10px;
    margin-top: 10px;
}
