

/* General Styling */
body {
    margin: 0;
    padding: 0;
    background-image: url('backgroundimage2.png'); /* Use similar background image */
    background-size: cover;
    background-position: center;
    font-family: 'Nunito', sans-serif;
}

/* Button Styling */
button {
    font-family: 'Nunito', sans-serif;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Page Title Styling */
h1 {
    text-align: center;
    color: #2980b9;
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;    
    margin-right: auto;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.8); /* White overlay around text */
    padding: 5px 10px;
    border-radius: 5px;
}

/* Form Styling */
form#patientForm {
    background-color: rgba(255, 255, 255, 0.85); /* Semi-transparent background */
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Shadow for depth */
    font-size: 16px;
    color: #333333; /* Main text color */
}

/* Label Styling */
form#patientForm label {
    display: block;
    margin-bottom: 10px;
    color: #2980b9; /* Font color similar to the theme */
    font-weight: bold;
}

/* Input Fields Styling */
form#patientForm input[type="text"],
form#patientForm input[type="number"],
form#patientForm input[type="tel"],
form#patientForm input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Submit Button Styling */
form#patientForm button[type="submit"] {
    width: 100%;
    background-color: #3498db;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    margin-left: -5px; 
}

form#patientForm button[type="submit"]:hover {
    background-color: #2980b9;
}

/* Responsive Design */
@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }
    button {
        font-size: 14px;
        padding: 8px 10px;
    }
    form#patientForm {
        padding: 20px;
    }
}

#dob {    
    font-size: 17px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#allergies{
    width: 98%;
    height: 60px;
}

#backToHome{
    font-family: 'Nunito', sans-serif;
}
