/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    background-color: #f4f7fb; /* Light gray background */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  .header {
    padding: 16px;
    background-color: white;
  }
  
  .title {
    color: #ffffff;
    background-color: #2980b9;
    padding: 15px 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 28px;
    margin-top: 0px;
  }
  
  
  .order-card {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: white;
    border-bottom: 1px solid #d0d7e1; /* Light gray border */
    min-height: 72px;
    
  }
  
  .order-info {
    display: flex;
    flex-direction: column;
  }
  
  .order-name {
    color: #000000; /* Blue color for the order name */
    font-size: 16px;
    font-weight: 500;
    font-weight: bold; 
    line-height: 1.4;
  }
  
  .order-details {
    color: #636f88; /* Gray color for the order details */
    font-size: 14px;
    font-weight: normal;
    line-height: 1.6;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .view-details-btn {
    background-color: #2980b9; /* Blue background for the button */
    color: white; /* White text for the button */
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Added transform for hover effect */
    border: none;
  }
  
  .view-details-btn:hover {
    background-color: #2980b9; /* Darker blue on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
  }
  
  .view-details-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5); /* Soft blue outline when focused */
  }
  
  .footer-space {
    height: 20px;
    background-color: white;
  }

  button {
    font-family: 'Nunito', sans-serif;
    width: 100%; /* Make buttons full width */
    max-width: 300px; /* Increase max width */
    background-color: #3498db;
    color: white;
    border: none;
    padding: 18px; /* Increase padding */
    border-radius: 5px;
    font-size: 18px; /* Increase font size */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    margin: 15px 0; /* Add more space between buttons */
}

#orders-card-container{
  width: 60%;
}

#backToHome {
  background-color: #3498db;
  font-family: 'Nunito', sans-serif;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px;
  margin-left: 15px;
}

#backToHome:hover {
  background-color: #2980b9;
}