/* Centering the title */
h2 {
    text-align: center;
    color: #2980b9;
    margin-bottom: 20px;
}
select, input[type="number"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

/* General styling */
body {
    font-family: 'Nunito', sans-serif;    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    color: #333;
}

input{
    font-family: 'Nunito', sans-serif;
}

/* Header and main title */
h1 {
    color: #ffffff;
    background-color: #2980b9;
    padding: 15px 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 28px;
    margin-top: 0px;
}

/* Container for the main #goToButtons */
.patient-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* #goToButton styling */
/* #goToButton styling */
#goToButton {
    width: 100%; /* Make #goToButtons full width */
    max-width: 300px; /* Increase max width */
    background-color: #3498db;
    color: white;
    border: none;
    padding: 18px; /* Increase padding */
    border-radius: 5px;
    font-size: 18px; /* Increase font size */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    margin: 5px 0; /* Add more space between #goToButtons */
}

#goToButton:hover {
    background-color: #2980b9;
    transform: scale(1.07); /* Slightly larger scale on hover */
}


/* Form styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    gap: 15px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

label {
    font-weight: bold;
    color: #2980b9;
    font-size: 16px;
    align-self: flex-start;
}

input[type="text"],
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    font-family: 'Nunito', sans-serif;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}
